IMAP_HOST=incoming.workd.go.th
IMAP_PORT=993
EMAIL_USER=your@email.com
EMAIL_PASS=yourpassword
IMAP_INBOX_FOLDER=INBOX-/00_UIH_cc_support,INBOX
IMAP_PROCESSED_FOLDER=PM-Processed

MONGO_USER=admin
MONGO_PASS=yourmongopassword
MONGO_AUTH_SOURCE=admin

HELPDESK_HOST=10.1.18.2
HELPDESK_USER=your_helpdesk_username
HELPDESK_PASS=your_helpdesk_password
